<h1> Welcome! </h1>
<h2> Complete the Form Below to Create a Profile.</h2>

<%= render partial: "employees", locals: {employee_new: @employee} %>

</br> Or 
<h5><%= link_to 'Login with Google', '/auth/google_oauth2' %></h5>
